.NaviStyle{
    list-style-type: none;
	margin: 0;
	padding: 0;
    
    nav li {
        display: inline;
    }

    a{
	font-family: Cambria, serif;
	font-size: 24px;
	font-style: normal;
	text-transform: normal;
	line-height: 1.3em;
	color: #0c829a;
    
    }

}