.contentStyle {
    color: rgb(107, 107, 244);
    width: 90%;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
}

// .contactStyled{
//     color: pink;
// }